{% extends '::layout.html.twig' %}
{% block body %}
<div class="center">
    {% for item in items %}
    {{  render(controller('platformBundle:Item:item', {'id': item.id})) }}

    {% endfor %}
</div>
{% endblock %}