{% extends "::layout.html.twig" %}
{% block body %}
<div class="container">
    <h1>{{ item.Name }}</h1>
    <h3>{{ item.seller.firstname }} {{ item.seller.lastname }}</h3>
    <img class="img-thumbnail center" src="{{ item.photoUrl }}" style="width:150px;height:150px">
    <p>{{ item.description }}</p>
</div>
{% endblock %}