
<div class="col-md-3">
    <a href="{{ path('platform_item_details',{'id': item.id}) }}" class="thumbnail center">
        <div>
           <img class="img-thumbnail center" src="{{ item.photoUrl }}" style="width:150px;height:150px">
        </div>
        <div>
            <h1>{{ item.name }}</h1>
        </div>
        <div>
            {{ item.description }}
        </div>
    </a>
</div>
