<html>
<head>
    <!--<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">-->


    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-materialize/src/angular-materialize.js"></script>
    <script src="bower_components/angular-file-upload/dist/angular-file-upload.min.js"></script>
</head>

<body ng-app="myApp">

<nav class="blue">
    <div class="nav-wrapper" ng-controller="navCtrl">
        <a class="brand-logo center" href="#">EMNbay</a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a href="#/">Home</a></li>
            <li><a href="#creationModal" modal ng-hide="!isConnected()">Sell</a></li>
            <li><a href="#/items">Items</a></li>
        </ul>
        <ul class="right hide-on-med-and-down">

            <li>
                <a class='dropdown-button' ng-show='isConnected()' href='javascript:void(0);'
                   data-activates='demoDropdown' dropdown data-hover="true" data-beloworigin="true">{{user.firstname}} {{user.lastname}}</a>
                <a ng-show="!isConnected()" href='#connectionModal' modal>Se connecter</a>
            </li>
        </ul>
    </div>
</nav>

<main>
<div ng-view=""></div>
</main>


<!-- Footer -->

<footer class="page-footer blue">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">EMNBay</h5>

                <p class="grey-text text-lighten-4">A website by Matthieu Lemonnier</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="http://www.mines-nantes.fr">mines-nantes.fr</a></li>
                    <li><a class="grey-text text-lighten-3" href="http://chat-minesnantes.rhcloud.com">IRC Mines
                        Nantes</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2015 Copyright Matthieu Lemonnier
        </div>
    </div>
</footer>


<!-- Dropdowns and modals -->
<ul id='demoDropdown' class='dropdown-content'>
    <li><a class="blue-text" href="#/account">Mon Compte</a></li>
    <li><a class="blue-text" href="#/myItemsForSale">Mes ventes</a></li>
    <li><a class="blue-text" href="javascript:void(0);">Mes achats</a></li>
    <li class="divider"></li>
    <li><a class="blue-text" ng-click="disconnect()" href="javascript:void(0)">Me déconnecter</a></li>
</ul>


<div id="creationModal" class="modal" ng-controller="itemUpForSale">
    <div class="modal-content">
        <h4>Vendre</h4>

        <div input-field>
            <input ng-model="item.name" type="text" length="150">
            <label>Que veux-tu vendre ?</label>
        </div>
        <div input-field>
            <textarea ng-model="item.description" class="materialize-textarea"></textarea>
            <label>Décris-nous tout ça !</label>
        </div>
        <input type="file" nv-file-select uploader="uploader"/><br/>
        <ul>
            <!--<li ng-repeat="item in uploader.queue">-->
                <!--Name: <span ng-bind="item.file.name"></span><br/>-->
                <!--<a class="btn-flat" ng-click="item.upload()">upload</a>-->
            <!--</li>-->
        </ul>
    </div>
    <div class="modal-footer">
        <a href="#/items" class="modal-action modal-close waves-effect waves-green btn-flat" ng-click="upForSale(item)">Mettre
            en vente</a>
    </div>
</div>

<div id="connectionModal" class="modal" ng-controller="AuthCtrl">
    <div class="modal-content">
        <div class="row">
            <div input-field>
                <input ng-model="user.username" type="text" length="150">
                <label>nom d'utilisateur</label>
            </div>
            <div input-field>
                <input ng-model="user.password" type="password">
                <label>Mot de passe</label>

            </div>
            <div class="modal-footer">
                <a href="#/" class="modal-action modal-close waves-effect waves-green btn-flat"
                   ng-click="submitLogin(user)">Log me in !</a>
                <a href="#/createaccount" class="modal-action modal-close waves-effect waves-light btn red">Create an account</a>
            </div>
        </div>
    </div>
</div>


<script src="app/app.js"></script>
<script src="app/controllers.js"></script>
<script src="app/services.js"></script>
<script src="index.js"></script>
</body>
</html>
