nav a:hover {
    text-decoration: none;
    text-decoration-color: snow;
}

@media (max-width: 979px) {
    body {
        padding-top: 5px;
    }
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

main {
    flex: 1 0 auto;
}
