{% extends "::layout.html.twig" %}

{% block body %}
   <p>///////</p>
   <p>///////</p>
   <p>///////</p>
   <p>///////</p>
   <p>///////</p>
<p>item name : {{ item.name }}</p>
<p>item seller: {{ item.seller.firstname }}</p>
{% endblock %}