<ul class="nav nav-pills nav-stacked">
    {% for advert in listAdverts %}
        <li>
            <a href="">
                {{ advert.title }}
            </a>
        </li>
    {% endfor %}
</ul>