{%  extends "::layout.html.twig" %}

{% block body %}
<div id="header" class="jumbotron">
    <h2>Un ebay spécial mineurs Nantais</h2>
    <p>
        Pour revendre toutes vos merdes sans spammer !
    </p>
    <p>
        <a class="btn btn-primary btn-lg" href="">
            Se connecter
        </a>
    </p>
</div>
{% endblock %}